$primary_RED:               #f30505 !default;//主色
$darkPrimary_RED:           #d82020 !default;//hover主色
$loginFormBg_RED:           #6f0002 !important;//login页面表单背景色
$LinearGradient_RED:        linear-gradient(90deg,#cc5333,#23074d)!default;// 侧边栏渐变
$LinearGradientChart_RED:   linear-gradient(to right,#d82020, #080917)!default;// 统计图表表头背景
$welcomeColor_RED:          #e4375c;// 各子系统欢迎页文字颜色
$asideHover_RED:            rgba(61,33,39,0.719) !important;// 菜单选中背景色
$asideText_RED:             #e4375c;// 菜单文字颜色

$welcomeImg_RED:url('../../assets/img/red/common/welcome.png')!default;//欢迎图像
$welcomeImg_RED_TRA:url('../../../assets/img/red/common/welcome.png')!default;//欢迎图像
$login_RED: url('../../assets/img/red/common/login_bg.jpg')!default; //login页面背景图像   
$menuImg_RED: url('../../assets/img/red/common/bg.jpg')!default;//九宫格背景图
$headerImg_RED: url('../../assets/img/red/common/headerbg.jpg')!default; //头图像
$titleLeftUrl_RED: url('../assets/img/red/common/titlebg_03.png')!default;// 标题左侧背景
$dmsMapTitleBg_RED:url('../../assets/img/red/supervise/header.png')!default;//监管地图页面title背景图